<header id="ntheader" class="ntheader header_4 h_icon_iccl">
    <div class="ntheader_wrapper pr z_200">
        <div id="kalles-section-header_top" class="kalles-section">
            <div class="h__top bgbl pt__10 pb__10 fs__12 flex fl_center al_center">
                <div class="container">
                    <div class="row al_center">
                        <div class="col-lg-4 col-12 tc tl_lg col-md-12 dn_false_1024">
                            <div class="header-text"><i class="pegk pe-7s-call"></i> +01 23456789
                                <i class="pegk pe-7s-mail ml__15"></i>
                                <a class="cg" href="mailto:kalles@domain.com">sandwich.soporte@mysandwich.com</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 tc col-md-12 dn_false_1024">
                            <div class="header-text">Mega descuentos!! <span class="cr">50%</span>! <a
                                    href="shop.html">Comprar ahora</a></div>
                        </div>
                        <div class="col-lg-4 col-12 tc col-md-12 tr_lg dn_false_1024"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="kalles-section-header_4" class="kalles-section sp_header_mid">
            <div class="header__mid">
                <div class="container">
                    <div class="row al_center css_h_se">
                        <div class="col-ld-3 col-md-3 col-3">
                            <a href="#" data-id="#nt_menu_canvas"
                                class="push_side push-menu-btn dn_lg lh__1 flex al_center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                                    <rect width="30" height="1.5"></rect>
                                    <rect y="7" width="20" height="1.5"></rect>
                                    <rect y="14" width="30" height="1.5"></rect>
                                </svg>
                            </a>
                            <div class="dn db_lg cus_txt_h">
                                <div class="nt-social">
                                    <a href="#" class="facebook cb ttip_nt tooltip_top_right">
                                        <span class="tt_txt">Follow on Facebook</span>
                                        <i class="facl facl-facebook"></i>
                                    </a>
                                    <a href="#" class="twitter cb ttip_nt tooltip_top_right">
                                        <span class="tt_txt">Follow on Twitter</span>
                                        <i class="facl facl-twitter"></i>
                                    </a>
                                    <a href="#" class="instagram cb ttip_nt tooltip_top_right">
                                        <span class="tt_txt">Follow on Instagram</span>
                                        <i class="facl facl-instagram"></i>
                                    </a>
                                    <a href="#" class="linkedin cb ttip_nt tooltip_top_right">
                                        <span class="tt_txt">Follow on Linkedin</span>
                                        <i class="facl facl-linkedin"></i>
                                    </a>
                                    <a href="#" class="pinterest cb ttip_nt tooltip_top_right">
                                        <span class="tt_txt">Follow on Pinterest</span>
                                        <i class="facl facl-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-ld-6 col-md-6 col-6 tc">
                            <div class="branding ts__05 lh__1">
                                <a class="dib" href="index.html">
                                    <h4>My Sandwich.com</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-ld-3 col-md-3 col-3 tr">
                            <div class="nt_action in_flex al_center cart_des_1">
                                <div class="frm_search_cat col-auto">
                                    <select #langSelect name="product_type" (change)="translate.use(langSelect.value)"
                                        class="form-control langs" [(ngModel)]="langActual">
                                        <option disabled value="*">{{'HEADER.idioma' | translate}}</option>
                                        <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                                            [selected]="lang === translate.currentLang">{{'HEADER.'+lang | translate}}
                                        </option>
                                    </select>
                                </div>
                                <a class="icon_search push_side cb chp" data-id="#nt_search_canvas" href="#"><i
                                        class="iccl iccl-search"></i></a>
                                <div class="my-account ts__05 pr dn db_md">
                                    <a class="cb chp db push_side" href="#" data-id="#nt_login_canvas"><i
                                            class="iccl iccl-user"></i></a>
                                </div>
                                <a class="icon_like cb chp pr dn db_md js_link_wis" href="#">
                                    <i class="iccl iccl-heart pr"><span
                                            class="op__0 ts_op pa tcount bgb br__50 cw tc">5</span></i>
                                </a>
                                <div class="icon_cart pr">
                                    <a class="push_side pr cb chp db" href="#" data-id="#nt_cart_canvas">
                                        <i class="iccl iccl-cart pr"><span
                                                class="op__0 ts_op pa tcount bgb br__50 cw tc">3</span></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__bot border_true dn db_lg">
                        <nav class="nt_navigation tc hover_side_up nav_arrow_false">
                            <ul id="nt_menu_id" class="nt_menu in_flex al_center">
                                <li
                                    class="type_mega menu_wid_cus menu-item has-children menu_has_offsets menu_default pos_default">
                                    <a class="lh__1 flex al_center pr" href="index.html">{{'HEADER.producto'|
                                        translate}}</a>
                                    <div class="cus sub-menu">
                                        <div class="container megamenu-content-700px">
                                            <div class="row lazy_menu lazyload lazy_menu_mega"
                                                data-jspackery='{ "itemSelector": ".sub-column-item","gutter": 0,"percentPosition": true,"originLeft": true }'>
                                                <div class="type_mn_link menu-item sub-column-item col-6">
                                                    <a href="home-default.html">HOMEPAGES</a>
                                                    <ul class="sub-column not_tt_mn">
                                                        <li class="menu-item">
                                                            <a href="home-default.html">Home Default
                                                                <span class="lbc_nav lb_menu_hot ml__5">Hot</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="home-classic.html">Home Classic
                                                                <span class="lbc_nav lb_menu_hot ml__5">Hot</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="type_mn_link menu-item sub-column-item col-6">
                                                    <a href="home-default.html">Header Layouts</a>
                                                    <ul class="sub-column not_tt_mn">
                                                        <li class="menu-item">
                                                            <a href="home-header-01.html">Header Layout 1</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="home-header-02.html">Header Layout 2</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="home-default.html">Header Layout 3</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li
                                    class="type_mega menu_wid_cus menu-item has-children menu_has_offsets menu_center pos_center">
                                    <a class="lh__1 flex al_center pr" href="shop-filter-sidebar.html">{{'HEADER.pideya'
                                        | translate}}<span class="lbc_nav">{{'HEADER.new' | translate}}</span></a>
                                    <div class="cus sub-menu">
                                        <div class="container megamenu-content-950px">
                                            <div class="row lazy_menu lazyload lazy_menu_mega"
                                                data-jspackery='{ "itemSelector": ".sub-column-item","gutter": 0,"percentPosition": true,"originLeft": true }'>
                                                <div class="type_mn_link menu-item sub-column-item col-2">
                                                    <a href="shop-filter-sidebar.html">SHOP PAGES</a>
                                                    <ul class="sub-column not_tt_mn">
                                                        <li class="menu-item">
                                                            <a href="shop.html">Grid Layout</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="shop-packery-layout.html">Packery Layout</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="shop-masonry-layout.html">Masonry Layout</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="shop-full-width-layout.html">Full Width Layout</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="shop-1600px-layout.html">1600px Layout</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="product-detail-left-sidebar.html">Left Sidebar</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">Right Sidebar</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">Hidden sidebar</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">Filters area</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">Filters sidebar</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="type_mn_link menu-item sub-column-item col-2">
                                                    <a href="shop-filter-sidebar.html">FEATURES</a>
                                                    <ul class="sub-column not_tt_mn">
                                                        <li class="menu-item">
                                                            <a href="shop-filter-options.html">Filter options<span
                                                                    class="lbc_nav lb_menu_hot ml__5">hot</span></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="shop-load-more.html">Load more button</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="shop-Infinite-scrolling.html">Infinite
                                                                scrolling</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="index.html">Catalog mode</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="shop.html">Cookies law info</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="home-age-verified.html">Age verification</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="home-default.html">Mega menu</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="home-default.html">Hidden Search</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="home-categories-links.html">Search Fullscreen</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="type_mn_pr menu-item sub-column-item col-4">
                                                    <div class="prs_nav js_carousel nt_slider products nt_products_holder row al_center row_pr_2 cdt_des_1 round_cd_false nt_cover ratio_nt position_8"
                                                        data-flickity='{"imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": 1,"prevNextButtons": 1,"percentPosition": 1,"pageDots": 0, "autoPlay" : 0, "pauseAutoPlayOnHover" : 1, "rightToLeft": false }'>
                                                        <div
                                                            class="col-lg-12 col-md-12 col-12 pr_animated done mt__30 pr_grid_item product nt_pr desgin__2 tc">
                                                            <div class="product-inner pr">
                                                                <div class="product-image pr oh lazyload">

                                                                    <a class="d-block"
                                                                        href="product-detail-layout-01.html">
                                                                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571"
                                                                            data-bgset="assets/images/home-classic/mega-bagal-1.jpg">
                                                                        </div>
                                                                    </a>
                                                                    <div
                                                                        class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                                                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571"
                                                                            data-bgset="assets/images/home-classic/mega-bagal-3.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="nt_add_w ts__03 pa ">
                                                                        <a href="#"
                                                                            class="wishlistadd cb chp ttip_nt tooltip_right">
                                                                            <span class="tt_txt">Add to Wishlist</span>
                                                                            <i class="facl facl-heart-o"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div
                                                                        class="hover_button op__0 tc pa flex column ts__03">
                                                                        <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"
                                                                            href="#">
                                                                            <span class="tt_txt">Quick view</span>
                                                                            <i class="iccl iccl-eye"></i>
                                                                            <span>Quick view</span>
                                                                        </a>
                                                                        <a href="#"
                                                                            class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                                                                            <span class="tt_txt">Quick Shop</span>
                                                                            <i class="iccl iccl-cart"></i>
                                                                            <span>Quick Shop</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="product-attr pa ts__03 cw op__0 tc">
                                                                        <p class="truncate mg__0 w__100">S, M, L</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product-info mt__15">
                                                                    <h3 class="product-title pr fs__14 mg__0 fwm">
                                                                        <a class="cd chp"
                                                                            href="product-detail-layout-01.html">Wash
                                                                            me!</a>
                                                                    </h3>
                                                                    <span class="price dib mb__5">$35.00</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-12 col-md-12 col-12 pr_animated done mt__30 pr_grid_item product nt_pr desgin__2 tc">
                                                            <div class="product-inner pr">
                                                                <div class="product-image pr oh lazyload">

                                                                    <a class="d-block"
                                                                        href="product-detail-layout-01.html">
                                                                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_586"
                                                                            data-bgset="assets/images/home-classic/mega-cq-4.jpg">
                                                                        </div>
                                                                    </a>
                                                                    <div
                                                                        class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                                                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_586"
                                                                            data-bgset="assets/images/home-classic/mega-cq-1.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="nt_add_w ts__03 pa ">
                                                                        <a href="#"
                                                                            class="wishlistadd cb chp ttip_nt tooltip_right">
                                                                            <span class="tt_txt">Add to Wishlist</span>
                                                                            <i class="facl facl-heart-o"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div
                                                                        class="hover_button op__0 tc pa flex column ts__03">
                                                                        <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"
                                                                            href="#">
                                                                            <span class="tt_txt">Quick view</span>
                                                                            <i class="iccl iccl-eye"></i>
                                                                            <span>Quick view</span>
                                                                        </a>
                                                                        <a href="#"
                                                                            class="pr pr_atc cd br__40 bgw tc dib js_addtc cb chp ttip_nt tooltip_top_left">
                                                                            <span class="tt_txt">Add to cart</span>
                                                                            <i class="iccl iccl-cart"></i>
                                                                            <span>Add to cart</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-info mt__15">
                                                                    <h3 class="product-title pr fs__14 mg__0 fwm">
                                                                        <a class="cd chp"
                                                                            href="product-detail-layout-01.html">Woleen
                                                                            Tee</a>
                                                                    </h3>
                                                                    <span class="price dib mb__5">$35.00</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-12 col-md-12 col-12 pr_animated done mt__30 pr_grid_item product nt_pr desgin__2 tc">
                                                            <div class="product-inner pr">
                                                                <div class="product-image pr oh lazyload">

                                                                    <a class="d-block"
                                                                        href="product-detail-layout-01.html">
                                                                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571"
                                                                            data-bgset="assets/images/home-classic/mega-fq-4.jpg">
                                                                        </div>
                                                                    </a>
                                                                    <div
                                                                        class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                                                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571"
                                                                            data-bgset="assets/images/home-classic/mega-fq-1.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="nt_add_w ts__03 pa ">
                                                                        <a href="#"
                                                                            class="wishlistadd cb chp ttip_nt tooltip_right">
                                                                            <span class="tt_txt">Add to Wishlist</span>
                                                                            <i class="facl facl-heart-o"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div
                                                                        class="hover_button op__0 tc pa flex column ts__03">
                                                                        <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"
                                                                            href="#">
                                                                            <span class="tt_txt">Quick view</span>
                                                                            <i class="iccl iccl-eye"></i>
                                                                            <span>Quick view</span>
                                                                        </a>
                                                                        <a href="#"
                                                                            class="pr pr_atc cd br__40 bgw tc dib js_addtc cb chp ttip_nt tooltip_top_left">
                                                                            <span class="tt_txt">Add to cart</span>
                                                                            <i class="iccl iccl-cart"></i>
                                                                            <span>Add to cart</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-info mt__15">
                                                                    <h3 class="product-title pr fs__14 mg__0 fwm">
                                                                        <a class="cd chp"
                                                                            href="product-detail-layout-01.html">Women
                                                                            Black Pants</a>
                                                                    </h3>
                                                                    <span class="price dib mb__5">$100.00</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-12 col-md-12 col-12 pr_animated done mt__30 pr_grid_item product nt_pr desgin__2 tc">
                                                            <div class="product-inner pr">
                                                                <div class="product-image pr oh lazyload">

                                                                    <a class="d-block"
                                                                        href="product-detail-layout-01.html">
                                                                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571"
                                                                            data-bgset="assets/images/home-classic/mega-41-m1.jpg">
                                                                        </div>
                                                                    </a>
                                                                    <div
                                                                        class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                                                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571"
                                                                            data-bgset="assets/images/home-classic/mega-41-m3.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="nt_add_w ts__03 pa ">
                                                                        <a href="#"
                                                                            class="wishlistadd cb chp ttip_nt tooltip_right">
                                                                            <span class="tt_txt">Add to Wishlist</span>
                                                                            <i class="facl facl-heart-o"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div
                                                                        class="hover_button op__0 tc pa flex column ts__03">
                                                                        <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"
                                                                            href="#">
                                                                            <span class="tt_txt">Quick view</span>
                                                                            <i class="iccl iccl-eye"></i>
                                                                            <span>Quick view</span>
                                                                        </a>
                                                                        <a href="#"
                                                                            class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                                                                            <span class="tt_txt">Quick Shop</span>
                                                                            <i class="iccl iccl-cart"></i>
                                                                            <span>Quick Shop</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-info mt__15">
                                                                    <h3 class="product-title pr fs__14 mg__0 fwm">
                                                                        <a class="cd chp"
                                                                            href="product-detail-layout-01.html">Men
                                                                            pants</a>
                                                                    </h3>
                                                                    <span class="price dib mb__5">$49.00 – $56.00</span>
                                                                    <div
                                                                        class="swatch__list_js swatch__list lh__1 nt_swatches_on_grid">
                                                                        <span
                                                                            data-bgset="assets/images/home-classic/mega-41-m3.jpg"
                                                                            class="nt_swatch_on_bg swatch__list--item pr ttip_nt tooltip_top_right">
                                                                            <span class="tt_txt">Blue</span>
                                                                            <span
                                                                                class="swatch__value bg_color_blue lazyload"></span>
                                                                        </span>
                                                                        <span
                                                                            data-bgset="assets/images/home-classic/mega-41-m3-2.jpg"
                                                                            class="nt_swatch_on_bg swatch__list--item pr ttip_nt tooltip_top_right">
                                                                            <span class="tt_txt">Black</span>
                                                                            <span
                                                                                class="swatch__value bg_color_black lazyload"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="type_mn_pr menu-item sub-column-item col-4 equal_nt hoverz_true cat_design_1">
                                                    <div class="cat_grid_item cat_space_item">
                                                        <div class="cat_grid_item__content pr oh">
                                                            <a href="shop-left-sidebar.html"
                                                                class="db cat_grid_item__link">
                                                                <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload padding-top__127_586"
                                                                    data-bgset="assets/images/home-classic/mega-banner-01.jpg">
                                                                </div>
                                                            </a>
                                                            <div class="cat_grid_item__wrapper pe_none">
                                                                <div class="cat_grid_item__title">Women</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item type_simple">
                                    <a class="lh__1 flex al_center pr kalles-lbl__nav-sale"
                                        href="shop-filter-sidebar.html">{{'HEADER.sale' | translate}}<span
                                            class="lbc_nav">{{'HEADER.limited' | translate}}</span></a>
                                </li>
                                <li
                                    class="type_dropdown menu_wid_ menu-item has-children menu_has_offsets menu_right pos_right">
                                    <a class="lh__1 flex al_center pr" href="blog-grid.html">{{'HEADER.us' |
                                        translate}}</a>
                                    <div class="sub-menu">
                                        <div class="lazy_menu lazyload">
                                            <div class="menu-item">
                                                <a href="shop.html">Grid Layout</a>
                                            </div>
                                            <div class="menu-item">
                                                <a href="shop-masonry-layout.html">Masonry Layout</a>
                                            </div>
                                            <div class="menu-item">
                                                <a href="product-detail-left-sidebar.html">Left Sidebar</a>
                                            </div>
                                            <div class="menu-item">
                                                <a href="#">Right Sidebar</a>
                                            </div>
                                            <div class="menu-item">
                                                <a href="#">Single Post with Product Listing</a>
                                            </div>
                                            <div class="menu-item">
                                                <a href="#">Single Post with Instagram Shop</a>
                                            </div>
                                            <div class="menu-item">
                                                <a href="#">Single Post with Categories</a>
                                            </div>
                                            <div class="menu-item">
                                                <a href="#">Single Post with lookbook</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>