<header id="ntheader" class="ntheader header_4 h_icon_iccl">
    <div class="ntheader_wrapper pr z_200">
        <div id="kalles-section-header_top" class="kalles-section">
            <div class="h__top bgbl pt__10 pb__10 fs__12 flex fl_center al_center">
                <div class="container">
                    <div class="row al_center">
                        <div class="col-lg-4 col-12 tc tl_lg col-md-12 dn_false_1024">
                            <div class="header-text"><i class="pegk pe-7s-call"></i> +57 300 1234567
                                <i class="pegk pe-7s-mail ml__15"></i>
                                <a class="cg" href="mailto:kalles@domain.com">mysandwich.soporte@gmail.com</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 tc col-md-12 tr_lg dn_false_1024"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="kalles-section-header_4" class="kalles-section sp_header_mid">
            <div class="header__mid">
                <div class="container">
                    <div class="row al_center css_h_se">
                        <div class="col-ld-3 col-md-3 col-3">
                            <a href="#" data-id="#nt_menu_canvas"
                                class="push_side push-menu-btn dn_lg lh__1 flex al_center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                                    <rect width="30" height="1.5"></rect>
                                    <rect y="7" width="20" height="1.5"></rect>
                                    <rect y="14" width="30" height="1.5"></rect>
                                </svg>
                            </a>
                        </div>
                        <div class="col-ld-6 col-md-6 col-6 tc">
                            <div class="branding ts__05 lh__1">
                                <a class="dib" href="index.html">
                                    <h4>MySandwich.com</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-ld-3 col-md-3 col-3 tr">
                            <div class="nt_action in_flex al_center cart_des_1">
                                <div class="frm_search_cat col-auto">
                                    <select #langSelect name="product_type" (change)="translate.use(langSelect.value)"
                                        class="form-control langs" [(ngModel)]="langActual">
                                        <option disabled value="*">{{'HEADER.idioma' | translate}}</option>
                                        <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                                            [selected]="lang === translate.currentLang">{{'HEADER.'+lang | translate}}
                                        </option>
                                    </select>
                                </div>
                                <div class="my-account ts__05 pr dn db_md">
                                    <a class="cb chp db push_side" href="#" data-id="#nt_login_canvas"><i
                                            class="iccl iccl-user"></i></a>
                                </div>
                                <div class="icon_cart pr">
                                    <a class="push_side pr cb chp db" href="#" data-id="#nt_cart_canvas">
                                        <i class="iccl iccl-cart pr"><span
                                                class="op__0 ts_op pa tcount bgb br__50 cw tc">{{currentCartItems$ |
                                                async }}</span></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__bot border_true dn db_lg border_sandwich">
                        <nav class="nt_navigation tc hover_side_up nav_arrow_false">
                            <ul id="nt_menu_id" class="nt_menu in_flex al_center">
                                <li
                                    class="type_mega menu_wid_cus menu-item has-children menu_has_offsets menu_default pos_default">
                                    <span style="cursor: pointer;color: black;"
                                        (click)="goToProducts()">{{'HEADER.producto'|
                                        translate}}</span>
                                </li>
                                <li
                                    class="type_mega menu_wid_cus menu-item has-children menu_has_offsets menu_center pos_center">
                                    <a class="lh__1 flex al_center pr" href="shop-filter-sidebar.html">{{'HEADER.pideya'
                                        | translate}}<span class="lbc_nav">{{'HEADER.new' | translate}}</span></a>
                                    <div class="cus sub-menu">
                                        <p>Espera novedades proximamente!</p>
                                    </div>
                                </li>
                                <!-- <a class="icon_search push_side cb chp" data-id="#nt_search_canvas" href="#"><i
                                    class="iccl iccl-search"></i></a> -->
                                <li class="menu-item type_simple" (click)="getOrders()">
                                    <a class=" push_side" data-id="#nt_search_canvas" href="#">{{'HEADER.sale' |
                                        translate}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>