div.carrito {
    position: initial;
    cursor: pointer;
    a {
        text-decoration: none;
        background: black;
        color: white;

        i {
            margin-right: 10px;
        }
    }
}