<div id="nt_content">

    <!--category menu-->
    <div class="kalles-section cat-shop pr tc">
        <a class="has_icon cat_nav_js dib">Categorías<i class="facl facl-angle-down"></i></a>
        <div class="dn" id="cat_kalles">
            <ul class="cat_lv_0">
                <li class="cat-item" *ngFor="let category of allCategories"
                    [ngClass]="{'current-cat':isLinkActive('category='+category.id)}"
                    (click)="navigateCategory(category.id)">
                    <a class="cat_link dib link">{{category.nameToDisplay}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!--end category menu-->

    <!--shop banner-->
    <div class="kalles-section page_section_heading">
        <div class="page-head tc pr oh cat_bg_img page_head_">
            <div class="parallax-inner nt_parallax_false lazyload nt_bg_lz pa t__0 l__0 r__0 b__0 full-image-width"
                [attr.data-bgset]="currentCategory.imageBackground"></div>
            <div class="container pr z_100">
                <h1 class="mb__5 cw">{{currentCategory.nameToDisplay}}</h1>
                <p class="mg__0">{{currentCategory.description}}</p>
            </div>
        </div>
    </div>
    <!--end shop banner-->

    <div class="container container_cat pop_default cat_default mb__20">

        <!--filter panel area-->
        <div class="filter_area_js filter_area lazyload">
            <div id="kalles-section-nt_filter" class="kalles-section nt_ajaxFilter section_nt_filter">
                <div class="h3 mg__0 tu bgb cw visible-sm fs__16 pr">Filter<i
                        class="close_pp pegk pe-7s-close fs__40 ml__5"></i>
                </div>
                <div class="cat_shop_wrap">
                    <div class="cat_fixcl-scroll">
                        <div class="cat_fixcl-scroll-content css_ntbar">
                            <div class="row wrap_filter">
                                <div class="col-12 col-md-3 widget">
                                    <h5 class="widget-title">By Color</h5>
                                    <div class="loke_scroll">
                                        <ul class="nt_filter_block nt_filter_color css_ntbar"
                                            data-filter_condition="and">
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color black">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_black lazyload"></span>
                                                    </div>
                                                    black
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color cyan">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_cyan lazyload"></span>
                                                    </div>
                                                    cyan
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color green">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_green lazyload"></span>
                                                    </div>
                                                    green
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color grey">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_grey lazyload"></span>
                                                    </div>
                                                    grey
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color pink">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_pink lazyload"></span>
                                                    </div>
                                                    pink
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color pink clay">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_pink-clay lazyload"></span>
                                                    </div>
                                                    pink clay
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color sliver">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_sliver lazyload"></span>
                                                    </div>
                                                    sliver
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color white">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_white lazyload"></span>
                                                    </div>
                                                    white
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color white cream">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_white-cream lazyload"
                                                            data-bg="assets/images/shop/color-white-cream.jpg"></span>
                                                    </div>
                                                    white cream
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color beige">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_beige lazyload"></span>
                                                    </div>
                                                    beige
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color blue">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_blue lazyload"></span>
                                                    </div>
                                                    blue
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag color brown">
                                                    <div class="filter-swatch">
                                                        <span class="swatch__value bg_color_brown lazyload"></span>
                                                    </div>
                                                    brown
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 widget">
                                    <h5 class="widget-title">By Price</h5>
                                    <div class="loke_scroll">
                                        <ul class="nt_filter_block nt_filter_styleck css_ntbar"
                                            data-filter_condition="or">
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag price $50-$100">$50-$100</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag price $100-$150">$100-$150</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag price $150-$200">$150-$200</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag price $250-$300">$250-$300</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag price $350-$400">$350-$400</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag price $450-$500">$450-$500</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 widget">
                                    <h5 class="widget-title">By Size</h5>
                                    <div class="loke_scroll">
                                        <ul class="nt_filter_block nt_filter_styleck css_ntbar"
                                            data-filter_condition="and">
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag size s">s</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag size m">m</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag size l">l</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag size xs">xs</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag size xl">xl</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag size xxl">xxl</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 widget">
                                    <h5 class="widget-title">By Brand</h5>
                                    <div class="loke_scroll">
                                        <ul class="nt_filter_block nt_filter_styleck css_ntbar"
                                            data-filter_condition="and">
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag vendor ck">ck</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag vendor h&amp;m">h&amp;m</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag vendor kalles">kalles</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag vendor levi's">levi's</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag vendor monki">monki</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    aria-label="Narrow selection to products matching tag vendor nike">nike</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 tc mt__20 mb__20 dn">
                                    <a class="button clear_filter_js" href="#">Clear All Filter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter panel area-->

        <div class="row">

            <!--left sidebar-->
            <div class="js_sidebar sidebar sidebar_nt col-lg-3 order-12  col-12 space_30 hidden_false lazyload">
                <div id="kalles-section-sidebar_shop"
                    class="kalles-section nt_ajaxFilter section_sidebar_shop type_instagram">
                    <div class="h3 mg__0 tu bgb cw visible-sm fs__16 pr">Sidebar<i
                            class="close_pp pegk pe-7s-close fs__40 ml__5"></i>
                    </div>
                    <div class="cat_shop_wrap">
                        <div class="cat_fixcl-scroll">
                            <div class="cat_fixcl-scroll-content css_ntbar">
                                <div class="row no-gutters wrap_filter">
                                    <div class="col-12 col-md-12 widget hidden_sortby_false">
                                        <h5 class="widget-title">Sort by</h5>
                                        <div class="loke_scroll">
                                            <ul class="nt_filter_block nt_filter_sortby">
                                                <li class="active"><a href="#">Featured</a></li>
                                                <li><a href="#">Best selling</a></li>
                                                <li><a href="#">Alphabetically, A-Z</a></li>
                                                <li><a href="#">Alphabetically, Z-A</a></li>
                                                <li><a href="#">Price, low to high</a></li>
                                                <li><a href="#">Price, high to low</a></li>
                                                <li><a href="#">Date, old to new</a></li>
                                                <li><a href="#">Date, new to old</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 widget">
                                        <h5 class="widget-title">Filter by price</h5>
                                        <div class="loke_scroll">
                                            <ul class="nt_filter_block nt_filter_styleck css_ntbar">
                                                <li>
                                                    <a href="#"
                                                        aria-label="Narrow selection to products matching tag price $50-$100">$50-$100</a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                        aria-label="Narrow selection to products matching tag price $100-$150">$100-$150</a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                        aria-label="Narrow selection to products matching tag price $150-$200">$150-$200</a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                        aria-label="Narrow selection to products matching tag price $250-$300">$250-$300</a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                        aria-label="Narrow selection to products matching tag price $350-$400">$350-$400</a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                        aria-label="Narrow selection to products matching tag price $450-$500">$450-$500</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end left sidebar-->

            <!--main content-->
            <div class="col-lg-9 order-1 col-12">
                <div class="kalles-section tp_se_cdt">

                    <!--filter result-->
                    <div class="result_clear mt__30 mb__20 dn">
                        <div class="sp_result_html dib cb clear_filter"><span class="cp">20</span> Products Found
                        </div>
                        <a class="clear_filter dib" href="#">Clear All Filter</a><a href="#"
                            class="clear_filter dib bf_icons" aria-label="Remove tag Size  M">Size M</a><a href="#"
                            class="clear_filter dib bf_icons" aria-label="Remove tag Color  Cyan">Color Cyan</a><a
                            href="#" class="clear_filter dib bf_icons" aria-label="Remove tag Vendor  Kalles">Vendor
                            Kalles</a>
                    </div>
                    <!--end filter result-->

                    <!--products list-->
                    <div
                        class="on_list_view_false products nt_products_holder row fl_center row_pr_1 cdt_des_1 round_cd_false nt_cover ratio_nt position_8 space_30 nt_default">
                        <div class="col-lg-3 col-md-3 col-6 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1"
                            *ngFor="let sandwich of allSandwiches$ | async">
                            <div class="product-inner pr">
                                <div class="product-image pr oh lazyload">
                                    <span class="tc nt_labels pa pe_none cw"><span
                                            class="nt_label new">New</span></span>
                                    <a class="d-block" href="product-detail-layout-01.html">
                                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571 unset-height"
                                            data-bgset="assets/images/megamenu/pr-01.jpg"></div>
                                    </a>
                                    <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_571"
                                            data-bgset="assets/images/megamenu/pr-02.jpg"></div>
                                    </div>
                                    <div class="hover_button op__0 tc pa flex column ts__03">
                                        <a (click)="viewDetail(sandwich.code)"
                                            class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"><span
                                                class="tt_txt">Quick view</span><i class="iccl iccl-eye"></i><span>Quick
                                                view</span></a>
                                        <a (click)="addSandwichToCart(sandwich)"
                                            class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left"><span
                                                class="tt_txt">Quick Shop</span><i
                                                class="iccl iccl-cart"></i><span>Quick Shop</span></a>
                                    </div>
                                </div>
                                <div class="product-info mt__15">
                                    <h3 class="product-title pr fs__14 mg__0 fwm">
                                        <a class="cd chp" href="product-detail-layout-01.html">{{sandwich.name}}</a>
                                    </h3>
                                    <span class="price dib mb__5">{{sandwich.price | currency:'COP ': 'symbol' :
                                        '1.0-0'}}</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 col-md-3 col-6 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1">
                            <div class="product-inner pr">
                                <div class="product-image pr oh lazyload">
                                    <span class="tc nt_labels pa pe_none cw">
                                        <span class="onsale nt_label"><span>-34%</span></span>
                                    </span>
                                    <a class="db" href="product-detail-layout-01.html">
                                        <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571 unset-height"
                                            data-bgset="assets/images/home-fashion-simple/pr-01.jpg"></div>
                                    </a>
                                    <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                                        <div class="pr_lazy_img back-img pa nt_bg_lz lazyload padding-top__127_66"
                                            data-bgset="assets/images/home-fashion-simple/pr-02.jpg"></div>
                                    </div>
                                    <div class="hover_button op__0 tc pa flex column ts__03">
                                        <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"
                                            href="#">
                                            <span class="tt_txt">Quick view</span><i
                                                class="iccl iccl-eye"></i><span>Quick view</span>
                                        </a>
                                        <a href="#"
                                            class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                                            <span class="tt_txt">Quick Shop</span><i
                                                class="iccl iccl-cart"></i><span>Quick Shop</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info mt__15">
                                    <h3 class="product-title pr fs__14 mg__0 fwm">
                                        <a class="cd chp" href="product-detail-layout-01.html">Short Sleeved Hoodie</a>
                                    </h3>
                                    <span class="price dib mb__5"><del>$45.00</del><ins>$30.00</ins></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end products list-->

                    <!--navigation-->
                    <div class="products-footer tc mt__40">
                        <nav class="nt-pagination w__100 tc paginate_ajax">
                            <ul class="pagination-page page-numbers">
                                <li><span class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="#">2</a></li>
                                <li><a class="page-numbers" href="#">3</a></li>
                                <li><a class="page-numbers" href="#">4</a></li>
                                <li><a class="next page-numbers" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--end navigation-->

                </div>
            </div>
            <!--end main content-->

        </div>
    </div>

</div>