<div id="nt_content">
    <!-- top category banner -->
    <div class="nt_section type_collection_list">
        <div class="container">
            <div
                class="mt__30 nt_cats_holder row equal_nt hoverz_true cat_size_4 cat_lay4_1 cat_lay5_3 cat_space_30 cat_design_1">
                <div class="cat_grid_item cat_space_item cat_grid_item_1 col-md-6 col-12"
                    (click)="navigateCategory(categories[0].id)">
                    <div class="cat_grid_item__content pr oh">
                        <a class="d-block cat_grid_item__link">
                            <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload top"
                                [attr.data-bgset]="categories[0].imageBackground"></div>
                        </a>
                        <div class="cat_grid_item__wrapper pe_none">
                            <div class="cat_grid_item__title">{{categories[0].nameToDisplay}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="row">
                        <div class="cat_grid_item cat_space_item cat_grid_item_2 col-12"
                            (click)="navigateCategory(categories[1].id)">
                            <div class="cat_grid_item__content pr oh">
                                <a class="d-block cat_grid_item__link">
                                    <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload center"
                                        [attr.data-bgset]="categories[1].imageBackground"></div>
                                </a>
                                <div class="cat_grid_item__wrapper pe_none">
                                    <div class="cat_grid_item__title">{{categories[1].nameToDisplay}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="cat_grid_item cat_space_item cat_grid_item_3 col-12"
                            (click)="navigateCategory(categories[2].id)">
                            <div class="cat_grid_item__content pr oh">
                                <a class="d-block cat_grid_item__link">
                                    <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload center"
                                        [attr.data-bgset]="categories[2].imageBackground"></div>
                                </a>
                                <div class="cat_grid_item__wrapper pe_none">
                                    <div class="cat_grid_item__title">{{categories[2].nameToDisplay}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat_grid_item cat_space_item cat_grid_item_4  col-md-3 col-6">
                    <div class="cat_grid_item__content pr oh">
                        <a class="d-block cat_grid_item__link">
                            <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload center"
                                [attr.data-bgset]="categories[3].imageBackground"></div>
                        </a>
                        <div class="cat_grid_item__wrapper pe_none">
                            <div class="cat_grid_item__title">{{categories[3].nameToDisplay}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end top category banner -->

    <!-- featured collection -->
    <div class="nt_section type_featured_collection tp_se_cdt">
        <div class="kalles-otp-01__feature container">
            <div class="wrap_title des_title_2">
                <h3 class="section-title tc pr flex fl_center al_center fs__24 title_2">
                    <span class="mr__10 ml__10">TRENDING</span>
                </h3>
                <span class="dn tt_divider">
                    <span></span>
                    <i class="dn clprfalse title_2 la-gem"></i>
                    <span></span>
                </span>
                <span class="section-subtitle d-block tc sub-title">Lo mas vendido esta semana</span>
            </div>

            <div
                class="products nt_products_holder row fl_center row_pr_1 cdt_des_5 round_cd_true nt_cover ratio_nt position_8 space_30">
                <div class="col-lg-3 col-md-3 col-6 pr_animated done mt__30 pr_grid_item product nt_pr desgin__1">
                    <div class="product-inner pr">
                        <div class="product-image pr oh lazyload">
                            <a class="d-block" href="product-detail-layout-01.html">
                                <div class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyload padding-top__127_571 "
                                    data-bgset="assets/images/products/pr-33.jpg"></div>
                            </a>
                            <div class="hover_button op__0 tc pa flex column ts__03">
                                <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"
                                    href="#">
                                    <span class="tt_txt">Quick view</span>
                                    <i class="iccl iccl-eye"></i>
                                    <span>Quick view</span>
                                </a>
                                <a href="#"
                                    class="pr pr_atc cd br__40 bgw tc dib js__qs cb chp ttip_nt tooltip_top_left">
                                    <span class="tt_txt">Quick Shop</span>
                                    <i class="iccl iccl-cart"></i>
                                    <span>Quick Shop</span>
                                </a>
                            </div>
                        </div>
                        <div class="product-info mt__15">
                            <h3 class="product-title pr fs__14 mg__0 fwm">
                                <a class="cd chp" href="product-detail-layout-01.html">Ridley High Waist</a>
                            </h3>
                            <span class="price dib mb__5">$36.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end featured collection -->

    <!--shipping info-->
    <div class="kalles-section nt_section type_shipping kalles-section__type_shipping">
        <div class="container">
            <div class="row fl_wrap fl_wrap_md oah use_border_false">
                <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-0">
                    <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                        <div class="col-auto icon medium csi">
                            <i class="pegk pe-7s-car"></i>
                        </div>
                        <div class="col content">
                            <h3 class="title cd fs__14 mg__0 mb__5">ENVIO GRATIS</h3>
                            <p class="mg__0">Envío gratis en pedidos superiores a $ 60.000</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-1">
                    <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                        <div class="col-auto icon medium csi">
                            <i class="pegk pe-7s-help2"></i>
                        </div>
                        <div class="col content">
                            <h3 class="title cd fs__14 mg__0 mb__5">Soporte 24/7</h3>
                            <p class="mg__0">Contáctenos las 24 horas del día, los 7 días de la semana</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-2">
                    <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                        <div class="col-auto icon medium csi">
                            <i class="pegk pe-7s-refresh"></i>
                        </div>
                        <div class="col content">
                            <h3 class="title cd fs__14 mg__0 mb__5">Garantizamos calidad</h3>
                            <p class="mg__0">Simplemente devuélvalo si no te quedas satisfecho.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb__25 bl_1581530479619-3">
                    <div class="nt_shipping nt_icon_deafult tl row no-gutters al_center_">
                        <div class="col-auto icon medium csi">
                            <i class="pegk pe-7s-door-lock"></i>
                        </div>
                        <div class="col content">
                            <h3 class="title cd fs__14 mg__0 mb__5">PAGO 100% SEGURO</h3>
                            <p class="mg__0">Garantizamos un pago seguro.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end shipping info-->

</div>